<%= form_with model: stop, 
data: { controller: "disable-enter", 
action: "keydown->disable-enter#keydown" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label :start_datetime %>
    <%= form.datetime_field :start_datetime, required: true %>
  </div>
  <div>
    <%= form.label :end_datetime %>
    <%= form.datetime_field :end_datetime, required: true %>
  </div>
  <div data-controller="map" data-map-access-token-value="<%= Rails.application.credentials.mapbox_access_token %>">
    <div>
      <%= form.label :address, "Address"%>
      <%= form.text_field :address, value: "", placeholder: "Cerca un indirizzo", data: { map_target: "address" } %>
      <!-- add button to set address instead of monitoring input-->
      <button type="button" data-action="map#setAddress" data-map-target="setAddressButton">Set Address</button>
    </div>
    <div>
      <%= form.hidden_field :latitude, value: stop.latitude || 45.686688, data: { map_target: "latitude" } %>
    </div>
    <div>
      <%= form.hidden_field :longitude, value: stop.longitude || 11.889175, data: { map_target: "longitude" } %>
    </div>
    <div data-map-target="container" style="width: 100%; height: 600px;"></div>
  </div>
  <div>
    <%= form.submit "Create Stop" %>
  </div>
</div>
<% end %>