<% if @active_stops.any? %>
  <h2 class="text-xl font-bold">Dove siamo oggi</h2>
<% end %>
<% if @upcoming_stops.any? %>
  <h2 class="text-xl font-bold mb-4">Tappe future</h2>
  <ul>
    <% @upcoming_stops.each do |stop| %>
      <li class="bg-base-200 mb-2">
        <div class="collapse collapse-arrow">
          <input type="checkbox" name="collapsible-radio"/>
          <!-- TITLE -->
          <div class="collapse-title"><%= stop.name %></div>
          <!-- CONTENT -->
          <div class="collapse-content">
            <div class="flex gap-2 flex-col justify-center">
              <a
                href="<%= stop.google_maps_url %>"
                target="_blank"
                class="btn btn-secondary btn-sm"
              >📌 Apri su Google Maps</a>
              <a
                href="<%= stop.google_maps_url %>"
                target="_blank"
                class="btn btn-secondary btn-sm"
              >🔗 Unisciti al gruppo WhatsApp</a>
            </div>
            <% if false %>
              <p class="mt-4">
                <%= link_to "Modifica", edit_stop_path(stop), class: "btn btn-primary btn-outline" %>
                <%= link_to "Elimina",
                stop_path(stop),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Sei sicuro di voler eliminare questa tappa?",
                },
                class: "btn btn-error btn-outline" %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
