<h1>Index</h1>
<div data-controller="map" 
     data-map-access-token-value="<%= Rails.application.credentials.mapbox_access_token %>"
     data-map-stops-value="<%= @stops.to_json(only: [:name, :latitude, :longitude]) %>"
     data-map-focus-stop-value="<%= @stops.today.first&.to_json(only: [:name, :latitude, :longitude]) %>">
  <div data-map-target="container" style="width: 100%; height: 600px;"></div>
</div>
<% if @stops.empty? %>
  <p>No stops found</p>
<% else %>
  <% if @stops.today.any? %>
    <h2>Today</h2>
    <ul>
      <% @stops.today.each do |stop| %>
        <li><%= link_to stop.name, stop %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @stops.upcoming.any? %>
    <h2>Upcoming</h2>
    <ul>
      <% @stops.upcoming.each do |stop| %>
        <li><%= link_to stop.name, stop %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @stops.past.any? %>
    <h2>Past</h2>
    <ul>
      <% @stops.past.each do |stop| %>
        <li><%= link_to stop.name, stop %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>