<div class="py-4 border-b border-base-300 border-dashed">
  <% if @today_stops.any? %>
    <h2 class="text-2xl font-bold mb-2">⭐ Dove ci trovi oggi ⭐</h2>
    <ul>
      <% @today_stops.each do |stop| %>
        <div class="collapse collapse-arrow bg-base-200 mb-2">
          <input type="checkbox" name="collapse" />
          <div class="collapse-title">
            <p class="text-lg"><span class="font-bold">📌 <%= stop.name %></span> - <span class="text-sm"><%= l(stop.start_datetime, format: "%A %d %B") %></span></p>
          </div>
          <div class="collapse-content">
            <p>Ci trovi in <a href="<%= stop.google_maps_url %>" class="link link-hover text-blue-500" target="_blank"><%= stop.address %></a>, dalle <%= l(stop.start_datetime, format: "%H:%M") %> alle <%= l(stop.end_datetime, format: "%H:%M") %></p>
          </div>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="py-4 border-b border-base-300 border-dashed">
  <% if @upcoming_stops.any? %>
    <h2 class="text-2xl font-bold mb-2">Tappe future</h2>
    <ul>
      <% @upcoming_stops.each do |stop| %>
        <div class="collapse collapse-arrow bg-base-200 mb-2">
          <input type="checkbox" name="collapse" />
          <div class="collapse-title">
            <p class="text-lg"><span class="font-bold">📌 <%= stop.name %></span> - <span class="text-sm"><%= l(stop.start_datetime, format: "%A %d %B") %></span></p>
          </div>
          <div class="collapse-content">
            <p>Ci trovi in <a href="<%= stop.google_maps_url %>" class="link link-hover text-blue-500" target="_blank"><%= stop.address %></a>, dalle <%= l(stop.start_datetime, format: "%H:%M") %> alle <%= l(stop.end_datetime, format: "%H:%M") %></p>
            <div class="flex justify-center">
              <a href="<%= stop.whatsapp_group_url %>" class="btn text-white bg-[#25D366] mt-4 w-full" target="_blank">💬 Unisciti al gruppo WhatsApp</a>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  <% end %> 
</div>